<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统权限不足(403页)</title>
<link href="../static/bk/css/base.css" rel="stylesheet" type="text/css"/>
<link href="../static/bk/css/bk.css" rel="stylesheet" type="text/css"/>
</head>
<body style="font-family:Microsoft Yahei;">
	<div class="errors-403-wrap box">		
    	<div class="errors-403-img f_l">
        </div>
    	<div class="errors-403-info f_r">            
            <h1>敏感系统权限不足！</h1>
            <dl class="reson-list clearfix">
                <dt>可能原因：</dt>
                <dd>1、您的角色不匹配；</dd>
                <dd>2、您的角色所拥有的权限不足；</dd>
                <dd>3、您的操作权限不足；</dd>
                <dd>4、敏感权限系统出现故障暂时不可用。</dd>
            </dl>
            <ul>
            	<!--
                <li><a href='http://sec.cm.com/MyRights/' style="cursor:pointer;" target='_blank'>查看自己的权限</a></li>
                <li><a class="btn-blue" href='http://sec.cm.com/RightApplyPersonal/?sys_id=558' style="cursor:pointer;" target='_blank'>申请相应权限</a></li>
               -->
            </ul>            
        </div>
	</div>
</body>
</html>
