<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统异常(500页)</title>
<link href="../static/bk/css/base.css" rel="stylesheet" type="text/css"/>
<link href="../static/bk/css/bk.css" rel="stylesheet" type="text/css"/>
</head>

<body style="font-family:Microsoft Yahei;">
	<div class="errors-500-wrap box">
        <img src="../static/bk/images/expre_500.jpg" width="200" height="144" />           
        <h1>系统出现异常了，请与管理员联系！</h1>
    </div>
</body>
</html>
